{% import_yaml "backupmanager/defaults.yaml" as defaults %}

{# merge the actual backupmanager pillar into defaults #}
{% set map = salt['pillar.get']('backupmanager', default=defaults.backupmanager, merge=True) %}
