{% set map = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'backup-manager',
        'conf-file': '/etc/backup-manager.conf',
        'bin': '/usr/sbin/backup-manager',
        'cron-daily-file': '/etc/cron.daily/backup-manager',
        'user': 'backup',
        'group': 'backup',
    },
    'Ubuntu': {
        'pkg': 'backup-manager',
        'conf-file': '/etc/backup-manager.conf',
        'bin': '/usr/sbin/backup-manager',
        'cron-daily-file': '/etc/cron.daily/backup-manager',
        'user': 'backup',
        'group': 'backup',
    },

}, grain='os', merge=salt['pillar.get']('backupmanager:lookup')) %}
